@import url( 
"https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); 
  
body{ 
    /* background-color: black; */
    /* background:  linear-gradient(-148deg, rgb(245, 39, 145),rgba(250, 121, 15, 0.998))no-repeat; */
    background: linear-gradient(-138deg, rgb(145, 76, 145));
    background: bisque;
    background-size: cover;
    color: #333; 
    font-family: "Roboto Mono", monospace; 
    height: 800px;
} 
  
.generator { 
    /* background-color: #f5f5f5;  */
    width: 850px; 
    height: 50px;
    margin: 10px auto; 
    padding: 20px; 
    border-radius: 10px; 
} 
  
div.password { 
    display: grid; 
    grid-template-columns: auto min-content; 
    border-radius: 10px; 
    overflow: hidden; 
} 
  
div.password input { 
    padding: 20px 20px; 
    font-size: large;
    font-weight: 400;
    background-color: #ddd; 
    border: 0; 
    color: #333; 
} 

  
button { 
    background-color: #870db7; 
    color: #fff; 
    text-transform: uppercase; 
    padding: 5px 15px; 
    border: 0; 
    border-radius: 10px; 
} 
  
div.password button { 
    border-radius: 0; 
} 
  
div.range { 
    margin: 10px 0; 
    display: grid; 
    grid-template-columns: 1fr min-content; 
} 
  
div.range span { 
    /* background-color: #ddd;  */
    padding: 5px; 
    margin-left: 10px; 
    min-width: 80px; 
    text-align: center; 
    border-radius: 10px; 
} 
  
div.options{ 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
} 
/* I Added */
div.options label input{
    padding: 100px;
}
  /* End */
div.options label { 
    display: block; 
    background-color: #ddd; 
    padding: 10px; 
    border-radius: 10px; 
    cursor: pointer; 
    font-family: sans-serif; 
} 
  
button.generate { 
    width: 100%; 
    margin-top: 10px; 
    padding: 10px; 
} 
  
h1 { 
    text-align: center; 
    color: #b507e6; 
}
/* .container{
    background-color:black;
} */